@use '../abstracts' as v;

.carousel-indicators {
    margin: 0 !important;
    ul {
        list-style-type: none;
        display: flex !important;
        justify-content: center !important;
        position: absolute !important;
        padding: 0 !important;
        margin: 0 !important;
        bottom: calc(82vh - 36px);
        // top: 2.4%;
        // margin-bottom: 100vh !important;
        // right: 1%;

        li {
            width: 6rem !important;
            height: 1rem !important;
            margin: 0 !important;
            padding: 0 !important;
            text-indent: 0 !important;
            text-align: center !important;
            line-height: 1rem !important;
            font-size: 1rem !important;
            font-weight: bold !important;
            color: #fff !important;
            // border: 1px solid #000 !important;
            background-color: transparent !important;

            &.active {
                color: v.$font-color !important;
            }

        }
    }
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-inner {
    overflow-x: hidden !important;
}

.carousel button {
    z-index: 9 !important;
}